/*========== Button Dark/Light ==========*/
.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--first-color-copy);
  margin-right: var(--mb-1);
  cursor: pointer;
}

/* .change-theme:hover {
    color: var(--first-color-second);
} */