/*==================== CONTAINER ====================*/
.container {
  max-width: 768px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--mb-1-5);
  padding-right: var(--mb-1-5);
}

