/*==================== LAYOUT ====================*/

.grid {
  display: grid;
  gap: 1.5rem; 
}

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
  color: var(--first-color-lighter);
}

.section__title,
.section__subtitle {
  text-align: center;
}


#preloader-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 999999;
  display: visible;
  position: fixed;
  background-color: #fff;
}

#preloader-content img.loading-icon {
  width: 60px;
  opacity: 0.8;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}