/* ==================== HEADER ==================== */

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);

  @media screen and (min-width: 790px) {
    top: 0;
    bottom: initial;
  }
}

/* Change background header */
.scroll-header {
  background-color: var(--nav-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s linear;
}
