/*==================== HOME ====================*/

.home {
  &__container {
    gap: 1rem;
  }

  &__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
  }

  &__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;

    &-icon {
      font-size: 1.25rem;
      color: var(--first-color-second);
      transition: all 0.3s linear;

      &:hover {
        color: var(--first-color-copy);
      }
    }
  }

  &__img {
    display: none;
  }

  &__data {
    grid-column: 1 / 3;
  }

  &__title {
    font-size: var(--big-font-size);
  }

  &__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
  }

  &__description {
    margin-bottom: var(--mb-2);
    color: var(--text-color);
  }

  &__scroll {
    display: none;

    &-button {
      color: var(--first-color-copy);
      transition: 0.3s;

      &:hover {
        transform: translateY(0.4rem);
      }
    }

    &-mouse {
      font-size: 2rem;
    }

    &-name {
      font-size: var(--small-font-size);
      color: var(--title-color);
      font-weight: var(--font-medium);
      margin-right: var(--mb-0-25);
    }

    &-arrow {
      font-size: 1.25rem;
    }
  }
}

.about__img {
    width: 250px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
