/*==================== HOME ====================*/

.home {
  &__container {
    gap: 1rem;

    @media screen and (min-width: 790px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__content {
    max-width: 790px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: max-content 1fr;
    column-gap: 2rem;
    align-items: center;

    @media screen and (min-width: 790px) {
      grid-template-columns: max-content 1fr 1fr;
      padding-top: 5.5rem;
      column-gap: 2rem;
    }
  }

  &__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;

    &-icon {
      font-size: 1.25rem;
      color: var(--first-color-second);
      transition: all 0.3s linear;

      &:hover {
        color: var(--first-color-copy);
      }
    }
  }

 &__img {
    display: none;

    @media screen and (min-width: 790px) {
      display: block;
      justify-self: center;
      order: 2
    }
  }

  &__data {
    justify-self: center;
    text-align: left;
    order: 1;
     @media screen and (min-width: 568px) {
        grid-column: initial; 
    }
  }

  &__title {
    font-size: var(--big-font-size);
  }

  &__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
  }

  &__description {
    margin-bottom: var(--mb-2);
    color: var(--text-color);
  }

  &__scroll {
    display: none;

    &-button {
      color: var(--first-color-copy);
      transition: 0.3s;

      &:hover {
        transform: translateY(0.4rem);
      }
    }

    &-mouse {
      font-size: 2rem;
    }

    &-name {
      font-size: var(--small-font-size);
      color: var(--title-color);
      font-weight: var(--font-medium);
      margin-right: var(--mb-0-25);
    }

    &-arrow {
      font-size: 1.5rem;
    }
  }
}

.about__img {
    width: 290px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

    @media screen and (min-width: 1024px) {
      width: 340px;
    }
}
