/* ==================== NAV ==================== */

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo,
  &__toggle {
    font-weight: var(--font-medium);
  }

  &__logo {
    color: var(--first-color-alt);
  }

  &__logo-img {
    width: 55px;
    height: 55px;
    margin-top: 6.5px;
  }

  &__toggle {
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--first-color-copy);
  }

  &__menu {
    @media screen and (max-width: 790px) {
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: var(--body-color);
      padding: 2rem 1.5rem 4rem;
      box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 1.5rem 1.5rem 0 0;
      transition: 0.3s;
    }
  }

  &__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--first-color-second);
    font-weight: var(--font-medium);

    &:hover {
      color: var(--first-color-copy);
    }
  }

  &__icon {
    font-size: 1.2rem;
    transition: 0.3s;
  }

  &__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color-copy);
  }
}
