/* ==================== NAV ==================== */

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo,
  &__toggle {
    font-weight: var(--font-medium);
  }

  &__logo {
    color: var(--first-color-alt);
  }

  &__logo-img {
    width: 55px;
    height: 55px;
    margin-top: 6.5px;
  }

  &__toggle {
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--first-color-copy);

    @media screen and (min-width: 790px) {
      display: none;
    }
  }

  &__menu {
    @media screen and (max-width: 790px) {
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: var(--body-color);
      padding: 2rem 1.5rem 4rem;
      box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 1.5rem 1.5rem 0 0;
      transition: 0.3s;
    }

    @media screen and (max-width: 350px) {
      padding: 2rem 0.25rem 4rem;
    }
    
    @media screen and (min-width: 790px) {
      margin-left: auto;
    }
  }

  &__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media screen and (max-width: 350px) {
      column-gap: 0;
    }

    @media screen and (min-width: 790px) {
      display: flex;
      column-gap: 2rem;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--first-color-second);
    font-weight: var(--font-medium);

    &:hover {
      color: var(--first-color-copy);
    }

    @media screen and (min-width: 790px) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: var(--first-color-copy);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  &__icon {
    font-size: 1.2rem;
    transition: 0.3s;

    @media screen and (min-width: 790px) {
      display: none;
    }
  }

  &__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color-copy);

    @media screen and (min-width: 790px) {
      display: none;
    }
  }


   @media screen and (min-width: 790px) {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.show-menu {
  bottom: 0;
}

.active-link {
  color: var(--first-color-copy);

  @media screen and (min-width: 790px) {
    border-bottom: 1.5px solid var(--first-color-copy);
  }
}
